.select-option {
  height: auto;
  /*background-color: powderblue;*/
  margin: 0 auto;
  padding: 30px;
  text-align:center;
}
.select-type {
  height: auto;
  /* background-color: powderblue; */
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
.card-cont {
  margin: 0 auto;
}

.card {
  width: 300px;
  height: auto;
  padding: 20px;
  margin: 10px;
  background-color: powderblue;
}

.hide-option {
  display:none;
}

.hide-card {
  display: none;
}

select {
  padding: 20px;
  border-radius: none;
  appearence: none;
}

.select-item {
  padding: 15px;
}
